<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/static/css/style.css" />
        <title>Login</title>
    </head>
    <body>
        <h1 class="title">Login</h1>
        {% if message %}
        <div class="message-box">{{ message }}</div>
        {% endif %}
        <form class="login-form" action="login" method="post">
            <input
                class="input-text user-name-input"
                type="text"
                name="user_name"
                placeholder="username"
            />
            <input
                class="input-text password-input"
                type="password"
                name="password"
                placeholder="password"
            />
            <input class="button" type="submit" value="Login" />
        </form>
        <!-- Note: username:admin, password:p@sSw0rd -->
    </body>
</html>
